<header>
  <h1>Flipcards</h1>
</header>
<div class="main_container">
  <form class="create_deck" action="/new_deck" method="post">
    <h3>{{currentUser}}</h3>
    <input type="text" name="title" placeholder="Deck title">
    <div class="textarea_button">
      <textarea name="description" rows="2" cols="95" placeholder="What does this deck consist of?"></textarea>
      <button type="submit" name="submit">Post</button>
    </div>
  </form>
  <div class="deck_collection">
    {{#decks}}
    <div class="single_deck">
      <a href="/cards/{{id}}">
        <h4>{{title}}</h4>
        <h5>{{description}}</h5>
      </a>
      <form class="create_card" action="/new_card_header/{{id}}" method="post">
        <h4>Create a new flipcard for this deck</h4>
        <input type="text" name="front" placeholder="Front of card">
        <input type="text" name="back" placeholder="Back of card">
        <button type="submit" name="submit">Submit</button>
      </form>
    </div>
    {{/decks}}
  </div>
</div>
