<header>
  <a class="back_to_decks" href="/decks"><h1>Flipcards</h1></a>
</header>
<div class="main_container">
  <form class="header_card" action="/new_card_header/{{thisDeckId}}" method="post">
    <div class="logout_container">
      <h3>{{currentUser}}</h3>
      <a class="logout" href="/logout">Logout
      </a>
    </div>
    <input type="text" name="front" placeholder="Front of Card" autofocus required>
    <input type="text" name="back" placeholder="Back of Card" required>
    <div class="textarea_button">
      <button type="submit" name="submit">Create flipcard</button>
    </div>
  </form>
  <div class="card_collection">
    {{#cards}}
    <div class="single_card">
      <form class="edit_flipcard" action="/edit_flipcard/{{thisDeckId}}/{{id}}" method="post">
        <h4>Front</h4>
        <input type="text" name="front" value="{{front}}" required>
        <h4>Back</h4>
        <input type="text" name="back" value="{{back}}" required>
        <button type="submit" name="submit">Save Changes</button>
      </form>
      <a href="/remove/{{thisDeckId}}/{{id}}"><i class="material-icons md-36 delete">delete_forever</i></a>
    </div>
    {{/cards}}
  </div>
</div>
