<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flipcards</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
