* {
  margin: 0;
  padding: 0;
}

 body {
    background-color: #eee;
 }

.container {
  /*display: flex;
  flex-flow: row wrap;
  margin: 20px auto;*/
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.logout {
  color: #fff;
}

.main_container {
  padding-top: 57px;
}

.create_deck, .header_card {
  align-items: center;
  background-color: #439889;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  padding: 10px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}

.create_deck h3 {
  color: #fff;
  margin-left: 10px;
}

.create_deck input {
  border: none;
  border-radius: 2px;
  font-size: 18px;
  padding: 7px;
}

.create_deck textarea {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  resize: none;
}

.create_deck button {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 8px;
  margin-left: -2px;
}

.textarea_button {
  align-items: center;
  display: flex;
  flex-basis: 60%;
  margin-right: 10px;
}

.deck_collection, .card_collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.single_deck, .single_card {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 28px;
}

.single_deck a {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  text-decoration: none;
}

.create_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  margin: 10px;
}

.create_card h4 {
  font-family: sans-serif;
  text-align: center;
}

.create_card input {
  border: none;
  padding: 3px;
}

/***************************************
      signup/login page styling
***************************************/

header {
  background-image: linear-gradient(to right, #00695c 40%, black);
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);*/
  color: #fff;
  padding: 10px 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

header h1 {
  letter-spacing: 0.4em;
}

.signup_container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 150px;
  width: 70%;
}

.signup_container input {
  background-color: #fff;
  border: none;
  /*border-bottom: 3px solid #439889;*/
  /*border-top-right-radius: 5px;
  border-top-left-radius: 5px;*/
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 24px;
  height: 20px;
  margin: 10px 0px;
  padding: 7px;
}

.signup_container input::placeholder {
  color: darkgray;
}

.signup_container button {
  align-self: center;
  background-color: #439889;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.signup {
  border-left: 3px solid gray;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
